.contact-container {
  display: flex;
  justify-content: center;
}

.contact-container > section {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 70vw;
}

@media (max-width: 1200px) {
  .contact-container > section {
    flex-direction: column;
    width: 80%;
    padding-top: 2rem;
  }
}
