.contact-info-container {
  width: 50%;
}

.contact-info-container > h1 {
  font-size: 2.5rem;
}
.contact-info-container span {
  color: var(--dark-gray);
}

.contact-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem 0;
}

.contact-info > .footer-links > i {
  font-size: 0.8rem;
}

.contact-info > h3 {
  margin: 0;
}

.contact-info > .underline {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .contact-info-container {
    width: 100%;
  }
  .contact-infos {
    grid-template-columns: 1fr;
  }
  .contact-info {
    padding: 1rem 0;
  }
}
