.navbar {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 1rem 4rem;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100vw;
  box-sizing: border-box;
}

.bg-transparent {
  background-color: black;
}

.navbar > img {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  color: white;
  gap: 2rem;
}

.navbar li {
  cursor: pointer;
  transition: color 0.4s;
}
.navbar li:hover {
  color: var(--main-red);
}

.sign-up {
  display: flex;
  color: white;
  gap: 2rem;
  align-items: center;
}

.sign-up > i {
  font-size: 1.5rem;
  transition: color 0.4s;
  cursor: pointer;
}

.sign-up > i:hover {
  color: var(--main-red);
}

.join-class {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}
.join-class > i {
  font-size: 2rem;
  color: var(--main-red);
}

@media (max-width: 1200px) {
  .navbar {
    position: static;
    background-color: black;
  }
  .navbar ul {
    display: none;
  }
  .join-class {
    display: none;
  }
}
