/* benefits */
#about-background {
  width: 100%;
}

.about-container {
  background-image: url("../../img/about_bg.jpg");
}

.benefits-container {
  position: relative;
  width: 100%;
}
.benefits {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  top: -40px;
  position: absolute;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 2rem;
  max-width: 250px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  transition: all 0.4s;
}

.benefit:hover {
  background-color: black;
  color: white;
}

/* description */

.desc-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
  z-index: 0;
}

.desc {
  z-index: 0;
  width: 30%;
}

.benefit > h3 {
  text-transform: uppercase;
}
.title-bg {
  position: relative;
}

.title-bg > p {
  position: absolute;
  top: -2px;
  left: 55px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 0.8rem;
}

.ads {
  display: flex;
  margin: 2rem 0;
}

.ad:nth-child(2) {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.ad {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
}
.ads > .ad > img {
  width: 80px;
}

#about-btn {
  background-color: black;
  color: white;
}

#about-btn::after {
  z-index: -1;
  border: 2px solid black;
}
.banners {
  position: relative;
  width: 30%;
  height: 576px;
}
.banners > img {
  position: absolute;
}

#running_writing {
  z-index: 3;
}

#girl_running {
  z-index: 4;
}

#semicircle {
  left: 40%;
  z-index: 1;
}

#wind {
  left: 60%;
  top: 40%;
  z-index: 2;
}

@media (max-width: 1300px) {
  .banners {
    display: none;
  }
}

@media (max-width: 1200px) {
  .benefits {
    flex-direction: column;
    align-items: center;
  }

  .ads {
    flex-direction: column;
    gap: 2rem;
  }
  .ad:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 2rem 0;
  }
  .desc {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
