.offers-container {
  margin-top: 4rem;
}

.activities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one one two three"
    "four five six six";
  width: 100%;
  gap: 1rem;
}
.activity {
  height: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.activity::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 20%;
  color: black;
  z-index: 2;
  transform: scale(70%);
}

.activity::after {
  position: absolute;
  width: 130px;
  top: 30px;
  left: -40px;
  height: 80px;
  border-radius: 0 50px 50px 0;
  transform: rotate(30deg);
  z-index: 1;
  background-color: gray;
  content: "";
  transition: background-color 0.4s;
}
.activity:hover::after {
  background-color: white;
}

.activity:nth-child(1)::before {
  content: url("../../img/HomePage/Offers/bike.png");
}
.activity:nth-child(2)::before {
  content: url("../../img/HomePage/Offers/karate.png");
}
.activity:nth-child(3)::before {
  content: url("../../img/HomePage/Offers/dumbbells_lifting.png");
}
.activity:nth-child(4)::before {
  content: url("../../img/HomePage/Offers/meditation.png");
}
.activity:nth-child(5)::before {
  content: url("../../img/HomePage/Offers/martial_arts.png");
}
.activity:nth-child(6)::before {
  content: url("../../img/HomePage/Offers/ohp_small.png");
}

.activity:hover:nth-child(1)::before {
  content: url("../../img/HomePage/Offers/bike_red.png");
}
.activity:hover:nth-child(2)::before {
  content: url("../../img/HomePage/Offers/karate_red.png");
}
.activity:hover:nth-child(3)::before {
  content: url("../../img/HomePage/Offers/dumbbells_lifting_red.png");
}
.activity:hover:nth-child(4)::before {
  content: url("../../img/HomePage/Offers/meditation_red.png");
}
.activity:hover:nth-child(5)::before {
  content: url("../../img/HomePage/Offers/martial_arts_red.png");
}
.activity:hover:nth-child(6)::before {
  content: url("../../img/HomePage/Offers/ohp_small_red.png");
}

.activity > img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.activity > img:hover {
  scale: 1.5;
  filter: none;
}

.activity > h2 {
  position: absolute;
  left: 20px;
  bottom: 50px;
  color: white;
}

.activity > span {
  position: absolute;
  left: 20px;
  bottom: 30px;
  color: white;
  background-color: #ff0034;
  padding: 0.5rem;
}

#title-bg-offers > p {
  left: 30px;
}
